<nav>
    <div class="c-navbar">    
        <a href="" class="c-navbar__link is-active">{{ navbarItem1 }}</a>
        <a href="" class="c-navbar__link">{{ navbarItem2 }}</a>
        <a href="" class="c-navbar__link">{{ navbarItem3 }}</a>
        <a href="" class="c-navbar__link">{{ navbarItem4 }}</a>
        <a href="" class="c-navbar__link">{{ navbarItem5 }}</a>
        <a href="" class="c-navbar__link">{{ navbarItem6 }}</a>
    </div>
</nav>
